# Dependencies
/node_modules
/vendor

# Environment files
.env
.env.local
.env.*.local
src/frontend/.env
*/**/.env

# Service account keys and credentials
*.key
*.pem
*-key.json
service-account-key.json

# Build files
/public/assets
/public/build
/public/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
